#html, body { 
  overflow-x:hidden;
  background-color:#c9c5b0;
}
#frame {
  width: 98%;
  --main-width: 49%;
  --main-height: 480px;
  --main-border-width: 0px;
}
#map-container {
  position:fixed;
  width: var(--main-width);
  left: 5px;
  overflow: hidden;
  font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
  text-decoration: none;
}
#map {
  overflow:hidden;
  width: 100%;
  height: var(--main-height);
  border-width:  var(--main-border-width);
  border-style: solid;
  border-color: transparent;
}
#gallery {
  position: static;
  width: var(--main-width);
  height: 100%;
  border-width: var(--main-border-width);
  border-style: solid;
  border-color: transparent;
  float: right;
  background-color: #d0d0c5;
  text-align: center;
}
#timeline-controls{
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 15vh;
}

.button-control {
  border: 1px solid gray;
  background: #eeddaa;
  padding: 4px 8px;
  color: black;
  font-size: 14px;
  vertical-align: middle;
}
.button-control:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}
.button-control:active {
  border-top-color: #1b435e;
  background: #1b435e;
}
.timeline-list{
  list-style-type:none;
}
#timeline-info{
  margin-top: 0.5vh;
  font-size: 18px;
}
#controls-row{
  height: 45px;
}
#button-previous{
  width: 20%;
  height: 80%;
  margin-right: 1%;
  float:left;
  display: inline;
}
#button-next{
  width: 20%;
  height: 80%;
  margin-left: 1%;
  float:right;
  display: inline;
}
#slider-bar{
  display: inline;
  float:left;
  width: 56%;
  height: 100%;
  /*position: relative;*/
}
#timeline-slider{
  margin-left: 8px;
  margin-right: 4px;
  top: 30%;
  border: 1px solid gray;
  background-color: #eeddaa;
}*/
.ui-state-default{
  background-color: #eeddaa;
}
.ui-slider-horizontal {
  height: 10px;
}
.ui-slider .ui-slider-handle {
  height: 20px;
  width: 6px;
  padding-left: 5px;
}

.ui-slider-tick-mark{
    display:inline-block;
    width:1px;
    background:grey;
    height:3px;
    position:absolute;
    top:0px;
}

#controls-last{
  margin:0px;
}

#number{
  padding-right: 5em
}

.image-gallery-item{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
IMG.galleryEntry {
  border:3px solid #d5d5d5;
  margin: 0px;}
IMG.galleryEntry:hover {
  border:3px solid #85d585;
  margin: 0px;}

.popup-video-content {
  position: relative;
  background: #DDD;
  padding: 20px;
  width:auto;
  max-width: 980px;
  margin: 20px auto;
}
.images-load-more{

}
#button-more {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.legend-circle{
  width:14px;
  height:14px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;

  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

#legend-circle-photo{
  background:#33cc33;
}

#legend-circle-video{
  background:#a00505;
}

#legend-circle-stay{
  background:#431086;
}