<!DOCTYPE html>
<html>
<head>
  <title>Map</title>
</head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- ==== jQuery ==== --> 
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- ====++++++++++====== -->

<!-- ==== MapQuest ==== -->
<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.0/mapquest.js"></script>
<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.0/mapquest.css"/>
<!-- ====++++++++++====== -->

<!-- ==== popups ==== -->
<link type="text/css" rel="stylesheet" href="{{ url_for('custom_static', filename='node_modules/magnific-popup/dist/magnific-popup.css') }}"/>
<script src="{{ url_for('custom_static', filename='node_modules/magnific-popup/dist/jquery.magnific-popup.min.js') }}"></script>
<!-- ====++++++++++====== -->

<link type="text/css" rel="stylesheet" href="static/t17.css"/>

<script src="static/t17_rnd.js"></script>
<script src="static/t17_gallery.js"></script>
<script src="static/t17_timeline.js"></script>
<script src="static/t17_styling.js"></script>
<script src="static/t17_map.js"></script>
<script>
  window.onload = function() {
    var t17map = new T17Map();
  }
</script>

<body>
  <div id="frame">
    <div id="loading-placeholder">
      Loading...
    </div>
    <div id="map-container">
      <div id="map"></div>
      <div id="timeline-controls">
        <li class="timeline-list" id="timeline-info">
          <label id="number">Day - ,</label>
          <label id="date">Date: - </label>
        </li>
        <li id="controls-row" class="timeline-list">
          <button class="button-control" id="button-previous">Previous day</button>
          <div id="slider-bar">
            <div id="timeline-slider"></div>
          </div>
          <button class="button-control" id="button-next">Next day</button>
        </li>
        <li id="controls-last" class="timeline-list">
          <button class="button-control" id="button-reset">Full map</button>
        </li>
      </div>
      <div id="legend">
        <li><input type="checkbox" class="filter-checkbox" id="show-photos" checked=checked><div class="legend-circle" id="legend-circle-photo"></div>Photos</li>
        <li><input type="checkbox" class="filter-checkbox" id="show-videos" checked=checked><div class="legend-circle" id="legend-circle-video"></div>Videos</li>
        <li><input type="checkbox" class="filter-checkbox" id="show-stays" checked=checked><div class="legend-circle" id="legend-circle-stay"></div>Stays overnight</li>
      </div>
    </div>
    <div id="gallery" >
      <div id="image-gallery"></div>
      <div id="video-gallery"></div>
      <div id="images-load-more">
        <button id="button-more"></button>
      </div>
    </div>

  </div>
</body>

</html>
